.main-footer {
    background-color: var(--primarycolor);
    color: var(--maincolorlight); 
    padding: 80px 100px 40px 100px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1528px;
    margin: 0 auto;
    width: 100%;
}

.footer-links-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
}

.link-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid rgba(252, 242, 217, 0.2);
    padding-top: 30px;
}

.footer-bottom p {
    font-family: var(--primarytitlefontfamily);
    font-size: 22px;
    font-weight: 500;
}

@media (max-width: 1100px) {
    .footer-content {
        flex-direction: column;
        gap: 60px;
        align-items: center;
        text-align: center;
    }
    
    .footer-links-grid {
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .main-footer {
        padding: 60px 40px 30px 40px;
    }

    .footer-links-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .logo-main { font-size: 70px; }
    .logo-sub { font-size: 80px; }
}