.footer-nav-link {
    font-family: var(--secondaryfontfamily);
    font-size: 22px;
    color: var(--maincolorlight);
    text-decoration: none;
    transition: all 0.3s ease;
    width: fit-content;
}

.footer-nav-link:hover {
    padding-left: 8px;
    opacity: 0.8;
    text-decoration: underline;
}

@media (max-width: 1100px) {
    .footer-nav-link {
        margin: 0 auto;
    }
}