.menu_arabicbutton {
    font-family: var(--arabicfontfamily);
    border: none;
    background: none;
    color: var(--primarycolor); 
    direction: var(--arabicfontdirection); 
    font-size: 22px;
    cursor: pointer;
    padding: 5px 15px;
    transition: transform 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
}


.menu_arabicbutton:hover {
    transform: scale(1.1);
    color: var(--maincolorgreendark);
}

.arabic-link-wrapper {
    text-decoration: none;
    display: flex;
    align-items: center;
    border-left: 1px solid rgba(2, 60, 64, 0.2); 
    margin-left: 10px;
}