.latest-project-section {
    width: 100%;
    min-height: 1216px;
    
    background-color: var(--primarycolor); 
    padding: 100px 80px; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}

.project-heading {
    font-family: var(--primarytitlefontfamily); 
    font-size: var(--secondaryfontsize); 
    font-weight: var(--secondaryfontweight);
    color: var(--maincolorlight); 
    text-align: center;
    margin-bottom: 80px;
}

.project-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.text-content {
    flex: 1;
    max-width: 720px;
}

.project-title {
    font-family: var(--secondaryfontfamily); 
    font-size: var(--primaryfontsize); 
    color: var(--maincolorlight); 
    line-height: 1.2;
    margin-bottom: 30px;
}

.project-description {
    font-family: var(--secondaryfontfamily); 
    font-size: var(--minitextfontsize);
    font-weight: var(--minitextfontweight);
    color: var(--maincolorlight); 
    line-height: 1.6;
    margin-bottom: 40px;
}

.project-button {
    display: inline-block;
    padding: 18px 40px;
    background-color: var(--maincolorlight); 
    color: var(--primarycolor); 
    text-decoration: none;
    font-family: var(--secondaryfontfamily);
    font-size: 20px;
    font-weight: 500;
    border-radius: 50px;
    transition: 0.3s ease;
}

.project-button:hover {
    background-color: var(--maincolorgreendark);
    color: var(--maincolorlight);
}

.image-content {
    flex: 1.2;
    display: flex;
    justify-content: flex-end;
    margin-right: -120px; 
}


.laptop-screen-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

@media (max-width: 1280px) {
    .latest-project-section {
        min-height: auto;
        padding: 80px 40px;
    }
    
    .image-content {
        margin-right: -40px;
    }
    
    .project-title {
        font-size: 34px;
    }
}

@media (max-width: 992px) {
    .project-content-container {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .image-content {
        margin-right: 0;
        width: 100%;
        justify-content: center;
    }

    .text-content {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-description {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .latest-project-section {
        padding: 60px 20px;
    }

    .project-title {
        font-size: 28px;
    }

    .project-description {
        font-size: 18px;
    }

    .laptop-mockup {
        border-width: 6px;
    }
}