.light-button {
    background-color: var(--maincolorlight);
    font-family: var(--secondaryfontfamily);
    font-size: 18px;
    font-weight: 500;
    padding: 12px 35px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.light-button:hover {
    background-color: var(--maincolorgreendark);
    color: var(--maincolorlight) !important;
    transform: translateY(-2px);
}