.myapproachsectioncont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}