.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
    background-color: var(--maincolorlight); 
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 15px rgba(0,0,0,0.05);
}

.nav-links-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-main-links {
    display: flex;
    gap: 10px;
}

.nav-logo {
    font-family: var(--primarytitlefontfamily);
    font-size: 32px;
    color: var(--primarycolor);
    text-transform: lowercase;
}

.nav-logo span { font-weight: 800; }

@media (max-width: 992px) {
    .navbar { padding: 20px 40px; }
    .nav-main-links { display: none; } 
}