.skillsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--maincolorlight);
    width: 1728px;
    min-height: 1216px;
    padding: 80px 0;
    margin: 0 auto;
}

.cardsCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 92px; 
    margin-top: 60px;
    margin-bottom: 80px;
}

.contRow {
    display: flex;
    flex-direction: column;
    gap: 50px; 
}

.seeWorkBtn {
    background-color: var(--primarycolor); 
    color: var(--maincolorlight);
    font-family: var(--secondaryfontfamily);
    font-size: var(--minitextfontsize);
    padding: 15px 45px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.seeWorkBtn:hover {
    transform: scale(1.05);
}