.card{
    width: 722px;
    height: 411px;
    border-radius: 30px;
    background: var(--accentcolorpurple);
    box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(255, 255, 255, 0.25) inset;
}