.card{
    width: 686px;
    height: 375px;
    padding: 36px;
    border-radius: 30px;
    background: var(--accentcolorpurple);
    box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(255, 255, 255, 0.25) inset;
}

.cardSectionTop{
    display: flex;
    align-items: center;
    gap: 55px;
}

.cardHeadingsCont{
    display: flex;
    width: 312px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.skillName{
    color: var(--maincolorlight);
    font-family: var(--primarytitlefontfamily);
    font-size: var( --primaryfontsize);
    font-style: normal;
    font-weight: var(--subheadingfontweight);
    line-height: normal;
}

.skillDuration{
    color: var(--mainlightcolor);
    font-family: var(--primarytitlefontfamily);
    font-size: var(--secondaryfontsize);
    font-style: normal;
    font-weight: var(--minitextfontweight);
    line-height: normal;
}

.skillDescription{
    width: 648px;
    color: var(--main-light-color, #FCF2D9);
    font-family: var(--secondaryfontfamily);
    font-size: var(--minitextfontsize);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

