.pd-subtitle-component {
    font-family: var(--seriffontfamily); /* Using the serif font from your design system */
    color: var(--primarycolor); /* #E66249 Orange */
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 40px;
    text-align: left;
    line-height: 1.2;
}