:root{
    --primarycolor: #E66249;
    --maincolorgreendark: #023C40;
    --maincolorlight: #FCF2D9;
    --accentcolorpurple: #BBA0CA;
    --primarytitlefontfamily: "BBH Sans Hegarty", sans-serif;
    --primaryfontsize: 40px;
    --secondaryfontfamily: "Lexend", sans-serif;
    --secondaryfontsize: 30px;
    --secondaryfontweight: 400;
    --subheadingfontsize: 40px;
    --subheadingfontweight: 500;
    --minitextfontsize: 24px;
    --minitextfontweight: 400;
    --seriffontfamily: "Abril Fatface", serif;
    --seriffontsize: 32px; 
    --arabicfontfamily: 'BlueOcean', sans-serif;
    --arabicfontdirection:  rtl;    
}

.titleText{
    color: var(--primarycolor);
    font-family: var(--primarytitlefontfamily);
    font-size: var(--primaryfontsize);
    font-weight: var(--minitextfontweight);
    text-align: center;
    width: 746px;
}